{%- if database == "postgresql" %}
# =============================================================================
# POSTGRESQL CONFIGURATION
# =============================================================================
POSTGRES_DB={{project_slug}}_db
POSTGRES_USER={{author_username}}
POSTGRES_PASSWORD={{postgres_password}}
POSTGRES_HOST={{project_slug}}_psql
POSTGRES_PORT={{docker_postgres_port}}
{%- else %}
# =============================================================================
# MYSQL CONFIGURATION
# =============================================================================
MYSQL_DATABASE={{project_slug}}_db
MYSQL_USER={{author_username}}
MYSQL_PASSWORD={{mysql_password}}
MYSQL_ROOT_PASSWORD={{mysql_root_password}}
MYSQL_HOST={{project_slug}}_mysql
MYSQL_PORT={{docker_mysql_port}}
{%- endif %}
# =============================================================================
# DJANGO CORE SETTINGS
# =============================================================================
SECRET_KEY=
WEB_PORT=8000
