target-version = "py312"
line-length = 92

[lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4", # flake8-comprehensions
    "UP", # pyupgrade
    "S",  # bandit
]
ignore = [
    "S101", # Use of assert detected
    "S601", # shell=True detected
]

[lint.per-file-ignores]
"tests/*" = ["S101"]
"*/migrations/*" = ["E501"]
