from pathlib import Path

import dynaconf

SETTINGS_DIR = Path(__file__).resolve().parent
BASE_DIR = SETTINGS_DIR.parent.parent.parent

settings = dynaconf.DjangoDynaconf(
    __name__,
    ROOT_PATH_FOR_DYNACONF=str(SETTINGS_DIR),
    SETTINGS_FILE_FOR_DYNACONF="settings.yaml",
    SECRETS_FOR_DYNACONF=str(BASE_DIR / ".secrets.yaml"),
    ENVVAR_PREFIX_FOR_DYNACONF="",
    LOAD_DOTENV=True,
    DOTENV_PATH=str(BASE_DIR / ".env"),
    BASE_DIR=str(BASE_DIR),
)
