from .base import *

# Database
# https://docs.djangoproject.com/en/5.2/ref/settings/#databases

DATABASES = {
    "default": {
    {%- if use_psql %}
        "ENGINE": "django.db.backends.postgresql",
        "NAME": env("POSTGRES_DB", default="postgres_db"),
        "USER": env("POSTGRES_USER", default="postgres"),
        "PASSWORD": env("POSTGRES_PASSWORD", default="dev_psql_password_change_me"),
        "HOST": env("POSTGRES_HOST", default="localhost"),
        "PORT": "5432",
    {%- else %}
        "ENGINE": "django.db.backends.mysql",
        "NAME": env("MYSQL_DATABASE", default="mysql_db"),
        "USER": env("MYSQL_USER", default="mysql"),
        "PASSWORD": env("MYSQL_PASSWORD", default="dev_mysql_password_change_me"),
        "HOST": env("MYSQL_HOST", default="localhost"),
        "PORT": "3306",
    {%- endif %}
    },
}
