services:
   {{project_slug}}_web:
    build:
      context: ../..
      dockerfile: Dockerfile
    container_name: {{project_slug}}_web
    ports:
      - "8000:8000"
    env_file:
      - ../../.env
    depends_on:
      {%- if use_psql %}
       {{project_slug}}_psql:
        condition: service_healthy
      {%- else %}
       {{project_slug}}_mysql:
        condition: service_healthy
      {%- endif %}

include:
  - storages.yaml
